@page "/"
@inject JsInterop _jsInterop;

<PageTitle>Index</PageTitle>

<h1 @onclick="test">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    async void test()
    {
        await _jsInterop.Alert("abc");
    }
}